body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }
.pointer{
    cursor:pointer;
}
.ret {
    background-color: #444;
}
.ret a {
    color: #eee !important;
}
.ret a:hover {
    text-decoration: none;
}
.field-validation-error{
    width:100%;
    display:inline-block;
    color: #a94442;
    background-color: #f2dede;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.full{
    width:100%!important;
}